:root {
  --black: #111;
  --white: #f2efef;
  --blue: #1abcfe;
  --darkBlue: #0031e7;
  --lightGrey: #cccccc;
  --darkblack: #1e1e1e;
  --lightBlack: #3a3a3a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--black);
  color: var(--white);
}
body::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.modal {
  position: fixed;
  left: 30vw;
  top: 30vh;
  background-color: var(--white);
  color: var(--black);
  border-radius: 6px;
  /* border: none; */
  box-shadow: 20x 20px rgba(0, 0, 0, 0.6);
  padding: 1rem;
  width: 40vw !important;
  max-width: 25rem;
  animation: fade-slide-up 0.3s ease-out forwards;
}
.modal-container {
    position: fixed;
  left: 40vw;
  top: 10vh;
    
    justify-content: center;
    align-items: center;
   
}
.modal-container::backdrop {
  background-color: rgba(46, 43, 43, 0.497);
}

.control {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.control label {
  color: var(--darkBlue);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  width: 100%;
  max-width: 20rem;
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.button {
  font: inherit;
  cursor: pointer;
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: #1f1a09;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.button:hover,
.button:active {
  background-color: var(--blue);
  border-color: var(--blue);
  color: #1f1a09;
}

.text-button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--blue);
}

.text-button:hover,
.text-button:active {
  color: var(--blue);
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}